<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TermiGraph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<main>
  <header class="main-header">
    <div class="header-wrapper">
      <div class="logo-left">
        <a href="https://proyectoteresia.org/">
          <img src="{{ url_for('static', filename='img/logo_teresia.png') }}" alt="Logo TeresIA">
        </a>
      </div>
      <div class="logo-center">
        <a href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='img/logo_termigraph.png') }}" alt="Logo Servicio">
        </a>
      </div>
    </div>
  </header>
  
  <!-- Barra del menú, mavegación de la página -->
  <nav class="main-nav">
    <ul>
      <li><a href="{{ url_for('home') }}">Conversor</a></li>
      <li><a href="{{ url_for('documentacion') }}">Sobre TermiGraph</a></li>
      <li><a href="https://proyectoteresia.org/">Sobre TeresIA</a></li>
    </ul>
  </nav>

  <!-- Conversor, metadatos para no-glosarios -->
  <section id="conversor" class="main-sec">
    <h2>Conversor</h2>
    <form method="post" enctype="multipart/form-data" autocomplete="off" class="formulario">
      <h3>Paso 2: METADATOS DEL RECURSO</h3>
      <!-- título -->
      <label for="title">Título del recurso</label>
      <span class="obligatorio-simbolo" title="Obligatorio">✱</span>
      <div>
        <input class="input-text" type="text" id="title" name="title" required>
      </div>    
      <!-- dominios -->
      <label for="domain">Dominio (EuroVoc)</label>
      <span class="obligatorio-simbolo" title="Obligatorio">✱</span>
      <!-- input visible pero oculto visualmente, y validable -->
      <input type="text" id="domain" name="domain" class="sr-only" required aria-hidden="true">
      <div class="container">
        <input type="text" id="searchInput" placeholder="Buscar..." />
        <div id="dropdown" class="dropdown"></div>
        <div id="selected" class="selected"></div>
      </div>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <!-- autoría -->
      <label for="author">Autor del recurso</label><span class="obligatorio-simbolo" title="Obligatorio">✱</span>
      <p>Nota: Para añadir múltiples autores, separar mediante punto y coma (;). Por ejemplo: Marta López; Juanito García</p>
      <div>
        <input class="input-text" type="text" id="author" name="author" required>
      </div>
      <!-- enlace al original -->
      <label for="resource_link">Enlace al recurso original</label>
      <div>
        <input class="input-text" type="text" id="resource_link" name="resource_link">
      </div>
      <!-- Finalizar formulario, enviar (o limpiar) -->
      <div class="form-buttons">
        <input type="reset" value="Limpiar" class="input-clear">
        <input type="submit" value="Convertir" class="input-submit">
      </div>
      <!-- Leyenda del formulario -->
      <div class="form-leyenda">
        <div>
          <span class="obligatorio-simbolo" title="Obligatorio">✱</span><span class="obligatorio-leyenda">Obligatorio</span>
        </div>
      </div>
    </form>
    <!-- Fin formulario -->
  </section>

    <!-- Financiación -->
  <hr class="separador">
  <h4>financiado por:</h4>
  <section class="financiacion">
    <div>
      <a>
        <img src="{{ url_for('static', filename='img/financiacion_gob_es_MTDFP.jpg') }}" height="80" alt="Logo financiador: Gob. España">
        <img src="{{ url_for('static', filename='img/financiacion_PRTR.jpg') }}" height="80" alt="Logo financiador: PRTR">
        <img src="{{ url_for('static', filename='img/financiacion_es_EU.jpg') }}" height="80" alt="Logo financiador: Unión Europea">
      </a>
    </div>
  </section>
</main>
</body>
<footer class="site-footer">
    <div class="footer-wrapper">
    <!-- Contenedor Izquierdo -->
    <div class="footer-container left">
      <div class="footer-logos">
        <a href="https://proyectoteresia.org/">
          <img src="{{ url_for('static', filename='img/logo_teresia_fondo.svg') }}" alt="Logo_TeresIA" class="footer-logo">
        </a>
        <a href="https://www.upm.es/">
          <img src="{{ url_for('static', filename='img/escudo_upm.svg') }}" alt="Logo_UPM" class="footer-logo">
        </a>
        <a href="https://oeg.fi.upm.es">
          <img src="{{ url_for('static', filename='img/logo_oeg.svg') }}" alt="Logo_OEG" class="footer-logo">
        </a>
      </div> 
    </div>
    <!-- Derechos -->
    <p class="footer-rights">
        © 2025 TeresIA. Todos los derechos reservados
    </p>
    <!-- Contenedor Derecho -->
    <div class="footer-container right">
      <div class="footer-socials">
        <a href="https://github.com/proyectoTeresIA/TermiGraph_esp" aria-label="GitHub">
          <img src="{{ url_for('static', filename='img/logo_github.svg') }}" alt="GitHub_TermiGraph">
        </a>
      </div>
    </div>
  </div>
</footer>
</html>
