<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TermiGraph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <main>
  <header class="main-header">
    <div class="header-wrapper">
      <div class="logo-left">
        <a href="https://proyectoteresia.org/">
          <img src="{{ url_for('static', filename='img/logo_teresia.png') }}" alt="Logo TeresIA">
        </a>
      </div>
      <div class="logo-center">
        <a href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='img/logo_termigraph.png') }}" alt="Logo Servicio">
        </a>
      </div>
    </div>
  </header>
  
  <!-- Barra del menú, mavegación de la página -->
  <nav class="main-nav">
    <ul>
      <li><a href="#conversor">Conversor</a></li>
      <li><a href="{{ url_for('documentacion') }}">Sobre TermiGraph</a></li>
      <li><a href="https://proyectoteresia.org/">Sobre TeresIA</a></li>
    </ul>
  </nav>

  <!-- Parte del conversor, el formulario -->
  <section id="conversor" class="main-sec">
    <h2>Conversor</h2>
    <form method="post" enctype="multipart/form-data" autocomplete="off">
      <h3 class="header-con-lineas">Paso 1: CARGA DEL RECURSO</h3>
      <label>Tipo de archivo:</label>
      <span class="obligatorio-simbolo" title="Obligatorio">✱</span>
      <div class="custom-select">
        <select name="conv_type" required>
          <option value="" disabled selected>-- Selecciona un tipo --</option>
          <option value="glossary">Glosario monolingüe (lista)</option>
          <option value="tbx_basic">TBX-Basic</option>
          <!-- <option value="csv">CSV</option> -->
          <option value="termcat_xml">XML (TERMCAT)</option>
          <option value="iate_json">JSON (IATE)</option>
          <option value="unterm_csv">EXCEL (UNTERM)</option>
        </select>
      <div>
      <label>Archivo:</label>
      <span class="obligatorio-simbolo" title="Obligatorio">✱</span>
      <div>
        <input type="file" name="file" class="input-file" required>
      </div>


      <!-- Finalizar formulario, enviar (o limpiar) -->
      <div class="form-buttons">
        <input type="reset" value="Limpiar" class="input-clear">
        <input type="submit" value="Continuar" class="input-submit">
      </div>

      <!-- Leyenda del formulario -->
      <div class="form-leyenda">
        <span class="obligatorio-simbolo" title="Obligatorio">✱</span><span class="obligatorio-leyenda">Obligatorio</span>
      </div>
    </form>
  </section>
</main>
</body>
<!-- Footer Section -->
<footer class="site-footer">
    <div class="footer-wrapper">
    <!-- Contenedor Izquierdo -->
    <div class="footer-container left">
      <div class="footer-logos">
        <a href="https://proyectoteresia.org/">
          <img src="{{ url_for('static', filename='img/logo_teresia_fondo.svg') }}" alt="Logo_TeresIA" class="footer-logo">
        </a>
        <a href="https://oeg.fi.upm.es">
          <img src="{{ url_for('static', filename='img/logo_oeg.svg') }}" alt="Logo_OEG" class="footer-logo">
        </a>
      </div> 
    </div>
    <!-- Derechos -->
    <p class="footer-rights">
        © 2025 TeresIA. Todos los derechos reservados
    </p>
    <!-- Contenedor Derecho -->
    <div class="footer-container right">
      <div class="footer-socials">
        <a href="https://github.com/proyectoTeresIA/TermiGraph_esp" aria-label="GitHub">
          <img src="{{ url_for('static', filename='img/logo_github.svg') }}" alt="GitHub_TermiGraph">
        </a>
      </div>
    </div>
  </div>
</footer>
</html>
